Importing Libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
creditCard_data=pd.read_csv('D:\creditcard.csv')
creditCard_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

Dataset Information

In [3]:
creditCard_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

Checking missing values

In [4]:
creditCard_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

Distribution of legit and fardulent transaction

In [5]:
creditCard_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

Seprating the data

In [6]:
legit=creditCard_data[creditCard_data.Class==0]
fraud=creditCard_data[creditCard_data.Class==1]
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

Statistical measures of the data

In [7]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [8]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

Comparison of values for both transaction

In [9]:
creditCard_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under Sampling for unbalanced data

i.e build a sample dataset of similar distribution of normal transaction and fradulent transaction

In [10]:
legit_sample=legit.sample(n=492)
legit_sample.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
280468,169542.0,1.725325,-1.198272,0.552210,0.728106,-1.689747,0.106833,-1.288975,0.240531,2.236332,...,0.183194,0.686960,0.127897,0.111701,-0.524953,0.679910,0.003442,-0.019213,108.95,0
117640,74750.0,-0.447471,0.200313,1.328072,-1.025884,0.545642,0.197627,0.820264,-0.495575,1.237246,...,-0.247587,-0.027943,-0.221257,-0.731531,-0.194237,-0.770619,-0.345120,-0.264485,38.21,0
59447,48847.0,-2.154161,-1.657397,-0.358023,-0.068159,-2.773871,1.292049,3.525339,0.038989,-0.581214,...,0.354405,-0.579763,2.175521,-0.482749,-0.020291,0.781021,-0.384444,0.135906,958.99,0
159737,112870.0,2.004637,-1.723648,-2.719428,-1.814254,-0.099252,-0.451960,-0.078516,-0.364789,-2.204584,...,0.104050,0.237084,-0.228645,-0.095922,0.328163,0.061602,-0.101127,-0.053254,217.80,0
32368,36766.0,-1.788883,-4.084409,-1.035720,4.860673,-1.366556,0.613289,2.099871,-0.249052,-1.320830,...,0.774232,-1.347724,-1.216808,0.037436,-0.273024,-0.246481,-0.301121,0.278730,1505.78,0

concatinating two dataframes

In [11]:
sample_dataset=pd.concat([legit_sample,fraud],axis=0)
sample_dataset.head()
sample_dataset['Class'].value_counts()

1    492
0    492
Name: Class, dtype: int64

In [12]:
sample_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94769.365854,0.094559,-0.038037,0.002381,0.002889,-0.021132,0.019060,0.073062,0.055418,0.043296,...,-0.013424,0.012140,0.017661,0.013630,-0.009847,0.020087,0.016350,0.004380,-0.000698,92.735772
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Splitting data into features and target

In [14]:
X= sample_dataset.drop(columns='Class',axis=1)
Y=sample_dataset['Class']

Splitting data into train and test

In [17]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

Model training

In [27]:
model= LogisticRegression(max_iter=1000)

In [28]:
model.fit(x_train,y_train)

LogisticRegression(max_iter=1000)

Evaluation of model

In [29]:
#Accuracy on training data
x_train_pred=model.predict(x_train)
training_data_accuracy=accuracy_score(x_train_pred,y_train)

In [30]:
print("Accuracy on training data: ",training_data_accuracy)

Accuracy on training data:  0.9453621346886912

In [31]:
#Accuracy on test data
x_test_pred=model.predict(x_test)
test_data_accuracy=accuracy_score(x_test_pred,y_test)
print("Accuracy on test data: ",test_data_accuracy)

Accuracy on test data:  0.9289340101522843